div.grid-group
	span(ng-if="numberOfStreamers == 1")
		div.grid.size-12
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")

	span(ng-if="numberOfStreamers == 2")
		div.grid.size-6
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")
		div.grid.size-6
			div.block.square(style="background-image: url(./assets/images/{{ streamer[1].Streamer }}.png)")

	span(ng-if="numberOfStreamers == 3")
		div.grid.size-6
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")
		div.grid.size-6
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[1].Streamer }}.png)")
		div.grid.size-6
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[2].Streamer }}.png)")

	span(ng-if="numberOfStreamers == 4")
		div.grid.size-6
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[1].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[2].Streamer }}.png)")
		div.grid.size-6
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[3].Streamer }}.png)")

	span(ng-if="numberOfStreamers == 5")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[1].Streamer }}.png)")
		div.grid.size-6.grid--reverse
			div.block.square(style="background-image: url(./assets/images/{{ streamer[2].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[3].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[4].Streamer }}.png)")

	span(ng-if="numberOfStreamers == 6")
		div.grid.size-6.grid--reverse
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[1].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[2].Streamer }}.png)")
		div.grid.size-6
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[3].Streamer }}.png)")
		div.grid.size-6.grid--reverse
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[4].Streamer }}.png)")
		div.grid.size-6
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[5].Streamer }}.png)")
	
	span(ng-if="numberOfStreamers == 7")
		div.grid.size-6.grid--reverse
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[1].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[2].Streamer }}.png)")
		div.grid.size-6
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[3].Streamer }}.png)")
		div.grid.size-6.grid--last
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[4].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[5].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[6].Streamer }}.png)")

span(ng-if="numberOfStreamers == 8")
		div.grid.size-6
			div.block.square(style="background-image: url(./assets/images/{{ streamer[0].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[1].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[2].Streamer }}.png)")
		div.grid.size-6
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[3].Streamer }}.png)")
		div.grid.size-6.grid--reverse
			div.block.square(style="background-image: url(./assets/images/{{ streamer[4].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[5].Streamer }}.png)")
		div.grid.size-3
			div.block.square(style="background-image: url(./assets/images/{{ streamer[6].Streamer }}.png)")
		div.grid.size-6.grid--last
			div.block.rectangle(style="background-image: url(./assets/images/{{ streamer[7].Streamer }}.png)")