doctype html
html(data-ng-app="")
  head
      title Default title
      include includes/head
  body
    div.on-canvas.js-oncanvas
        include includes/header
        div.oncanvas__inner  
            include includes/stream
        div.js-toggle-offcanvas.oncanvas__overlay
    div.offcanvas.js-offcanvas.closed
        include includes/menu
    include includes/absolute-footer
