doctype html
html(data-ng-app="")
  head
      title Default title
      include includes/head
  body
    div.max-width.wrapper
        include includes/header
        include includes/stream
        include includes/menu
    include includes/absolute-footer
