div.content.grid.size-9.size-12--palm.size-10--desk-wide
	img.grid.size-12(src="./assets/images/stream-screen.png")
	div.content__stats
		span.content__stats--current-streamer
			i.icon-microphone
			span James
		span.content__stats--number.align-center
			i.icon-users
			span 13
		span.content__stats--number.align-center
			i.icon-desktop
			span 24

