div.content.grid.size-9.size-12--palm.size-10--desk-wide
	div.grid-group
		div.grid.size-6.size-8--lap.size-12--palm
			div.block.square.b-lazy(data-src="assets/images/luna-death.jpg")

		div.grid.size-6.size-4--lap.size-12--palm
			div.grid-group
				div.grid.size-6.size-12--lap.size-12--palm
					div.block.square.b-lazy(data-src="assets/images/redbro-darksouls-2.jpg")

				div.grid.size-6.size-12--lap.size-12--palm
					div.block.square.b-lazy(data-src="assets/images/dustforce.jpg")

		div.grid.size-6.size-12--lap.size-12--palm
			div.block.rectangle.b-lazy(data-src="assets/images/limbo-spider.jpg")

		div.grid.size-6.size-12--lap.size-12--palm
			div.grid-group
				div.grid.size-12
					div.block.rectangle.b-lazy(data-src="assets/images/planetside-2-skirmish.jpg")

		div.grid.size-6.size-8--lap.size-12--palm.right
			div.block.square.b-lazy(data-src="assets/images/large-temp-darksouls-img.jpg")

		div.grid.size-6.size-4--lap.size-12--palm
			div.grid-group
				div.grid.size-6.size-12--lap.size-12--palm
					div.block.square.b-lazy(data-src="assets/images/dota-fight-img.png")

				div.grid.size-6.size-12--lap.size-12--palm
					div.block.square.b-lazy(data-src="assets/images/transistor-splash.png")