doctype html
html(data-ng-app="")
  head
      block title
      include head
  body
    div.on-canvas.js-oncanvas
        include header
        div.oncanvas__inner  
            block content
        div.js-toggle-offcanvas.oncanvas__overlay
    div.offcanvas.js-offcanvas.closed
        include menu
    include absolute-footer
