div.menu.grid.size-3.size-12--palm.size-2--desk-wide(data-ng-controller="streamerController")
	h1.grid.size-12.size-5--palm Puck
		label.palm--is-hidden Premium streaming service

	a.menu__mobile--toggle.js-menu-toggle.right.palm--hidden-above.icon-dots

	div.palm--hidden-above.js-menu.menu__mobile.grid.size-10--palm
		ul(data-ng-repeat="x in streamer")
			li
				h3 {{ x.Streamer }}
			li 
				a Flash
			li.menu__last-from-group
				a Html5

	ul.palm--is-hidden(data-ng-repeat="x in streamer")
		li
			h3 {{ x.Streamer }}
		li
			a Flash
		li.menu__last-from-group
			a Html5
		li
