div.menu.grid.size-12(data-ng-controller="StreamerController")
	h1.grid.size-5 
		a(href="/") Puck
	
	a.menu__mobile--toggle.js-menu-toggle.right.icon-dots

	div.js-menu.menu__mobile.grid.size-6.size-10--palm
		ul(data-ng-repeat="x in streamer")
			li
				h3 {{ x.Streamer }}
			li 
				a Flash
			li.menu__last-from-group
				a Html5