div.menu.grid.size-3.size-12--palm
	h1.grid.size-12.size-5--palm Puck
		label.palm--is-hidden Premium streaming service
	a.menu__mobile--toggle.js-menu-toggle.right.palm--hidden-above
		i.icon-dots
	ul.palm--hidden-above.js-menu.menu__mobile.grid.size-4--palm
		li
			h3 James
		li 
			a Flash
		li.menu__last-from-group
			a Html5
		li
			h3 Kasper
		li 
			a Flash
		li.menu__last-from-group
			a Html5

	ul.palm--is-hidden
		li
			h3 James
		li 
			a Flash
		li.menu__last-from-group
			a Html5
		li
			h3 Kasper
		li 
			a Flash
		li.menu__last-from-group
			a Html5
