div.offcanvas__inner
	div.offcanvas__content(data-ng-controller="StreamerController")
		ul(data-ng-repeat="x in streamer")
			li
				h3 {{ x.Streamer }}
			li 
				a Flash
			li.menu__last-from-group
				a Html5