.menu {
	height: 100vh;
	background: $base-color1*0.7;
	position: relative;

	.menu__mobile--toggle {
		height:100%;
		cursor: pointer;
		font-size: $font-large;
		color: $puck-blue;
		padding: 0 $spacing/2;
		transition: all 500ms ease;
		&:hover {
			color: $puck-pink;
		}
		&.active {
			color: $puck-pink;
		}
		.icon-dots:before {
		    margin-top: 18px !important;
		}
	}
	i {
		@extend %shadow;
	}
	.menu__mobile {
		background: $base-color1*0.7;
		position: absolute;
		top: 3.5em;
		right: 0;
	}
	h1 {
		font-weight: lighter;
		text-transform: uppercase;
		color: $puck-pink;
		vertical-align: middle;

		label {
			display: block;
			font-size: $font-xsmall;
			margin-top: -7px;
			color: $base-color2;
		}
	}
	
	li {
		&.menu__last-from-group {
			margin-bottom: $spacing;
		}

		h3 {
			color: $base-color2;
			text-transform: uppercase;
			opacity: 0.6;
			font-weight: lighter;
			font-size: $font-large;

		}
		a {
			@extend %link;
		}
	}
}

@media only screen and (max-width:$palm-end) {
	.menu {
		height: 3.5em;
	}
}